.settings-container {
  margin: 0 30%;
}

.custom-input[type="number"]::-webkit-inner-spin-button,
.custom-input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

.custom-input-container {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  font-size: 14px;
  border-radius: 5px;
  overflow: hidden;
}

.custom-input {
  flex: 9;
  padding: 16px;
  border: none;
  outline: none;
  cursor: default;
}

.custom-button-container {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  background-color: transparent;
}

.custom-button {
  background-color: transparent;
  color: rgb(0, 177, 237);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.custom-button:hover {
  background-color: rgb(150, 222, 246);
  color: rgb(51, 51, 56);
}

.custom-button-edit {
  background-color: transparent;
  color: rgb(0, 177, 237);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 12px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.custom-button-edit:hover {
  background-color: rgb(150, 222, 246);
  color: rgb(51, 51, 56);
}
