.empty-cart-container {
  width: 100%;
}

.button-link {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  height: 40px;
  width: 364px;
  margin: auto;
  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  background-color: rgb(0, 177, 237);
  border-radius: 4px;
  padding: 8px 16px;
  border: none;
  min-height: 40px;
  cursor: pointer;
  text-align: center;
}

.button-link:hover {
  background-color: rgb(0, 97, 129);
}
