.image-container {
  height: 60px;
  width: 72px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.clear-button-container {
  cursor: pointer;
}

.clear-button-container:hover {
  background-color: rgb(227, 227, 227);
  border-radius: 5px;
}

.product-name {
  color: #333;
}

.product-name:hover {
  text-decoration: underline;
  color: #000;
  cursor: pointer;
}
