.cartPage-container {
  margin: 0 12%;
}

.clear-button-container:hover {
  background-color: rgb(227, 227, 227);
  border-radius: 5px;
}

.clear-button {
  line-height: 12px;
  height: 40px;
  color: rgb(68, 68, 68);
  padding: 0px 12px;
  width: auto;
  cursor: pointer;
}

.slds-box {
  padding: 0;
}

.payment-box {
  background-color: rgb(241, 241, 241);
  height: 125px;
}

.cart-button:hover {
  background-color: #0f3910;
}

.cart-button {
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-decoration: none;
  border: none;
  white-space: nowrap;
  width: 100%;
  height: 40px;
  padding: 0px 8px;
  background: rgb(17, 158, 0);
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease;
}

.cart-button-name {
  margin-left: 4px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  text-decoration: none;
}

.chevron-icon {
  --slds-c-icon-color-foreground-default: rgb(255, 255, 255);
}
