.card-container {
  transition: all 0.3s ease;
  cursor: pointer;
}

.card-container::before {
  content: "";
  display: block;
  top: -1px;
  margin: 0 1px;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.card-container:hover {
  box-shadow:
    -4px 0 8px rgba(0, 0, 0, 0.1),
    4px 0 8px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #dedcdc;
  border-radius: 5px;
}

.card-container .cart-icon {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-container:hover .cart-icon {
  opacity: 1;
}

.image-container {
  width: 168px;
  height: 140px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.cart-icon {
  --slds-c-icon-color-foreground-default: rgb(8, 140, 8);
  --slds-c-icon-color-background: white;
  transition: background-color 0.3s ease;
  width: 24px;
  height: 24px;
}

.cart-icon:hover {
  --slds-c-icon-color-foreground-default: white;
  --slds-c-icon-color-background: rgb(8, 140, 8);
}
