.slds-modal_small .slds-modal__container {
  width: 0;
  max-width: 42.0625rem;
  min-width: 30rem;
}

.slds-modal__header {
  background: rgb(242, 242, 242);
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.x-button {
  border-radius: 4px;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  border: none;
  background: none;
  width: 40px;
  height: 40px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.x-button:hover {
  background-color: rgb(212, 212, 212);
}

.custom-input-container {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  font-size: 14px;
  border-radius: 5px;
  overflow: hidden;
}

.custom-input {
  flex: 1;
  padding: 16px;
  border: none;
  outline: none;
}

.save-button {
  background-color: rgb(0, 177, 237);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-weight: normal;
  text-decoration: none;
  height: 40px;
  width: 100%;
}

.save-button:hover {
  background-color: rgb(0, 85, 113);
}
