.card-container {
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .card-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #dedcdc;
    border-radius: 5px;
  }
  
  .card-container .heart-icon,
  .card-container .cart-icon {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .card-container:hover .heart-icon,
  .card-container:hover .cart-icon {
    opacity: 1; /* Show the icons on hover */
  }
  
  .image-container {
    height: 130px;
    width: 100px;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .price-and-icon-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end; 
  }
  
  .cart-icon-item {
    display: flex;
    justify-content: flex-end; 
  }
  
  .heart-icon {
    --slds-c-icon-color-foreground-default: rgb(143, 3, 3);
  }
  
  .cart-icon {
    --slds-c-icon-color-foreground-default: rgb(6, 186, 6);
  }
  
  .button-icon {
    transition: transform 0.2s;
  }
  
  .button-icon:hover {
    transform: scale(1.1);
  }
  
  .button-icon:active {
    transform: scale(0.9);
    transition-duration: 0s;
  }
  