.slds-modal_small .slds-modal__container {
  width: 0;
  max-width: 42.0625rem;
  min-width: 40rem;
}

.slds-modal__header {
  background: rgb(242, 242, 242);
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-header_2 {
  display: flex;
  align-items: center;
}

.img-container {
  width: 72px;
  height: 60px;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.x-button {
  border-radius: 4px;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  border: none;
  background: none;
  width: 40px;
  height: 40px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.x-button:hover {
  background-color: rgb(212, 212, 212);
}

.custom-input-container {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  font-size: 14px;
  border-radius: 5px;
  overflow: hidden;
}

.custom-input {
  flex: 1;
  padding: 6px 16px;
  min-height: 90px;
  height: auto;
  border: none;
  outline: none;
}

.custom-input:hover {
  background-color: rgb(240, 240, 240);
}

.custom-input:focus {
  background-color: #fff;
}

.save-button {
  position: relative;
  padding: 10px 20px;
  min-width: 96px;
  border: 0px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  transition: background-color 0.2s ease 0s;
}

.save-button:hover {
  background-color: rgb(90, 90, 90);
}

.star {
  cursor: pointer;
  display: inline-block;
  padding-right: 12px;
}

.star-filled {
  --slds-c-icon-color-foreground-default: orange;
}

.star-unfilled {
  --slds-c-icon-color-foreground-default: rgb(200, 200, 200);
}

.error-icon {
  --slds-c-icon-color-foreground-default: rgb(220, 0, 29);
}
